# Appium Server Connection
APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723
APPIUM_PATH=/

# Execution Strategy: APK or INSTALLED
# - APK: Installs the app using the APK_PATH
# - INSTALLED: Launches the app already installed on the device using APP_PACKAGE and APP_ACTIVITY
APP_LAUNCH_TYPE=APK

# Application Configuration
APK_PATH=../build/app/outputs/flutter-apk/app-debug.apk
APP_PACKAGE=com.example.ingrechef
APP_ACTIVITY=com.example.ingrechef.MainActivity

# Device Details (Will auto-detect first connected if empty)
DEVICE_NAME=Android Emulator
PLATFORM_VERSION=14.0

# Framework Parameters
ENVIRONMENT=staging
LOG_LEVEL=info
RETRY_COUNT=1
TEST_TIMEOUT=180000
